@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    @foreach (var stire in Model.stiri)
    {

        <a asp-page="/Stire" asp-route-stireId="@stire.Id"><strong>@stire.Titlu</strong></a>
        
        <p>
            @stire.Lead <br>
            Adăugat de @stire.Autor la data de @stire.DataAdaugarii în categoria @stire.Categorie
        </p>
    }
</div>
